/*Color Standards:
Text color: #595959
Primary color: #1d3251
Secondary color: #cdedda
main: font-family: 'Quattrocento Sans', sans-serif;
highlight: font-family: 'Sanchez', serif;
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*Tags*/
body {
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: black;
}

header {
	background-color: #1d3251;
	color: white;
}

nav {
	background-color: #1d3251;
	font-weight: 500;
}

footer {
	background-color: #1d3251;
	font-weight: 500;
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	color: white;
}

h1 {
	color: #3b3b3b;
	font-family: 'Sanchez', serif;
	font-size: 32px;
	font-weight: 400;
}

h2 {
	font-family: 'Sanchez', serif;
	color: #3b3b3b;
	font-size: 22px;
	font-weight: 400;
}

h3 {
	font-family: 'Sanchez', serif;
}

a {
	color: black;
	text-decoration: none;
}

form {
	margin-bottom: 10px;
}

label, input, textarea {
	margin-bottom: 5px;
	display: block;
	width: 50%;
}

label {
	vertical-align: top;
}

input[type=submit] {
	width: 150px;
}

button {
	border: none;
	font-family: inherit;
	background-color: #cdedda;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
	display: block;
	margin: 30px auto;
	max-width: 300px;
	text-align: center;
}

.button {
	border: none;
	font-family: inherit;
	background-color: #cdedda;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
	display: block;
	margin: 30px auto;
	max-width: 300px;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, tr, td {
	border: 1px solid black;
}

embed {
	max-width: 85%;
}

/*Classes*/
.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: auto;
}
.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header_item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header_item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list_item {
	color: white;
}

.gallery img {
	width: 100%;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid-item {
	display: inline-block;
	width: 25%;
}

.grid_item {
	background-color: #cdedda;
	padding: 10px;
	width: auto;
}

.mainContent {
	padding: 10px;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

/*IDs*/
#selfPortrait {
	height: 250px;
	width: 250px;
	float: left;
	margin: 40px;
	border-radius: 50%;
}

#experience {
	width: 50%;
	text-align: center;
	margin: auto;
}

/*Pseudo Classes*/
a:visited {
	text-decoration: underline;
}

a:hover {
	color: #3b3b3b;
}

a:focus {
	color: #3b3b3b;
}

a:active {
	text-decoration: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.75;
}

/*Media Queries*/
@media all and (max-width: 600px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 600px) and (max-width: 900px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width: 900px) and (max-width: 1200px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media all and (max-width: 900px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	.grid {
		grid-gap: 10px;
	}
	.navigation-list li {
		display: block;
	}
}
/*Animation*/
.cloud-left {
	-webkit-animation:45s cloud-left infinite alternate linear;
	        animation:45s cloud-left infinite alternate linear;
}

.cloud-mid {
	-webkit-animation: 37s cloud-mid infinite alternate linear;
	        animation: 37s cloud-mid infinite alternate linear;
}

.cloud-right {
	-webkit-animation: 31s cloud-right infinite alternate linear;
	        animation: 31s cloud-right infinite alternate linear;
}

@-webkit-keyframes cloud-left {
	from {
		-webkit-transform: translate(-100px, 40px);
		        transform: translate(-100px, 40px);
	}
	to {
		-webkit-transform: translate(3500px, 1500px);
		        transform: translate(3500px, 1500px);
	}
}

@keyframes cloud-left {
	from {
		-webkit-transform: translate(-100px, 40px);
		        transform: translate(-100px, 40px);
	}
	to {
		-webkit-transform: translate(3500px, 1500px);
		        transform: translate(3500px, 1500px);
	}
}

@-webkit-keyframes cloud-right {
	from {
		-webkit-transform: translate(2650px, 95px);
		        transform: translate(2650px, 95px);
	}
	to {
		-webkit-transform: translate(-3000px, 95px);
		        transform: translate(-3000px, 95px);
	}
}

@keyframes cloud-right {
	from {
		-webkit-transform: translate(2650px, 95px);
		        transform: translate(2650px, 95px);
	}
	to {
		-webkit-transform: translate(-3000px, 95px);
		        transform: translate(-3000px, 95px);
	}
}

@-webkit-keyframes cloud-mid {
	from {
		-webkit-transform: translate(500px, 2500px) scale(.5,.5);
		        transform: translate(500px, 2500px) scale(.5,.5);
	}
	to {
		-webkit-transform: translate(2000px, 600px) scale(1.25,1.25);
		        transform: translate(2000px, 600px) scale(1.25,1.25);
	}
}

@keyframes cloud-mid {
	from {
		-webkit-transform: translate(500px, 2500px) scale(.5,.5);
		        transform: translate(500px, 2500px) scale(.5,.5);
	}
	to {
		-webkit-transform: translate(2000px, 600px) scale(1.25,1.25);
		        transform: translate(2000px, 600px) scale(1.25,1.25);
	}
}