/*Color Standards:
Text color: #595959
Primary color: #a883e4
Secondary color: #33cdcb
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*Tags*/
body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: black;
}

header {
	background-color: #a883e4;
}

nav {
	background-color: #a883e4;
	font-weight: 500;
}

footer {
	background-color: #a883e4;
	font-weight: 500;
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}

h1 {
	color: #595959;
	font-family: 'Sue Ellen Francisco', sans-serif;
	font-size: 42px;
	font-weight: 400;
}

h2 {
	font-family: 'Sue Ellen Francisco', sans-serif;
	color: #595959;
	font-size: 32px;
	font-weight: 400;
}

a {
	color: black;
	text-decoration: none;
}

label, input, textarea {
	margin-bottom: 5px;
}

label {
	vertical-align: top;
}

form {
	margin-bottom: 10px;
}

button {
	border: none;
	font-family: inherit;
	background-color: #33cdcb;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
	display: block;
	margin: 30px auto;
	max-width: 300px;
	text-align: center;
}

.button {
	border: none;
	font-family: inherit;
	background-color: #33cdcb;
	color: black;
	text-decoration: none;
	padding: 10px;
	border-radius: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
	display: block;
	margin: 30px auto;
	max-width: 300px;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, tr, td {
	border: 1px solid black;
}

embed {
	max-width: 85%;
}

/*Classes*/
.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: auto;
}
.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header_item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header_item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid-item {
	display: inline-block;
	width: 25%;
}

.grid_item {
	background-color: #33cdcb;
	padding: 10px;
	width: auto;

}

.mainContent {
	padding: 10px;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

.cloud-left {
	-webkit-animation:45s cloud-left infinite alternate linear;
	        animation:45s cloud-left infinite alternate linear;
}

.cloud-mid {
  -webkit-animation: 37s cloud-mid infinite alternate linear;
          animation: 37s cloud-mid infinite alternate linear;
}

.cloud-right {
  -webkit-animation: 31s cloud-right infinite alternate linear;
          animation: 31s cloud-right infinite alternate linear;
}

/*IDs*/
#selfPortrait {
	height: 250px;
	width: 250px;
	float: left;
	margin: 40px;
	border-radius: 50%;
}

/*Pseudo Classes*/
a:visited {
	text-decoration: underline;
}

a:hover, a:focus {
	color: var(dark-grey);
}

a:active {
	text-decoration: none;
}

button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.75;
}

/*Media Queries*/
@media all and (max-width: 768px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

@media all and (min-width: 768px) and (max-width: 992px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (min-width: 992px) and (max-width: 1200px) {
	.grid {
		-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media all and (max-width: 768px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 22px;
	}
	.grid {
		grid-gap: 10px;
	}
	.navigation-list li {
		display: block;
	}
}
/*Animation*/
@-webkit-keyframes cloud-left {
	from {
		-webkit-transform: translate(-100px, 40px);
		        transform: translate(-100px, 40px);
	}
	to {
		-webkit-transform: translate(3500px, 1500px);
		        transform: translate(3500px, 1500px);
	}
}
@keyframes cloud-left {
	from {
		-webkit-transform: translate(-100px, 40px);
		        transform: translate(-100px, 40px);
	}
	to {
		-webkit-transform: translate(3500px, 1500px);
		        transform: translate(3500px, 1500px);
	}
}

@-webkit-keyframes cloud-right {
  from {
    -webkit-transform: translate(2650px, 95px);
            transform: translate(2650px, 95px);
  }
  to {
    -webkit-transform: translate(-3000px, 95px);
            transform: translate(-3000px, 95px);
  }
}

@keyframes cloud-right {
  from {
    -webkit-transform: translate(2650px, 95px);
            transform: translate(2650px, 95px);
  }
  to {
    -webkit-transform: translate(-3000px, 95px);
            transform: translate(-3000px, 95px);
  }
}

@-webkit-keyframes cloud-mid {
	from {
		-webkit-transform: translate(500px, 2500px) scale(.5,.5);
		        transform: translate(500px, 2500px) scale(.5,.5);
	}
	to {
		-webkit-transform: translate(2000px, 600px) scale(1.25,1.25);
		        transform: translate(2000px, 600px) scale(1.25,1.25);
	}
}

@keyframes cloud-mid {
	from {
		-webkit-transform: translate(500px, 2500px) scale(.5,.5);
		        transform: translate(500px, 2500px) scale(.5,.5);
	}
	to {
		-webkit-transform: translate(2000px, 600px) scale(1.25,1.25);
		        transform: translate(2000px, 600px) scale(1.25,1.25);
	}
}